@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: #f9f9f9;
}

.gradient_btn {
  background: red;
  background: linear-gradient(to right, white 50%, black 50%) left;
  background-size: 200%;
  transition: all 0.3s ease;
  color: black;
}
.gradient_btn:hover {
  color: white;
  background-position: right;
}
.price__input {
  width: 60px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 5px 0;
  padding-left: 10px;
}
.price__input::placeholder {
  color: black;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important; /* Hide navigation arrows */
  }
}
